# CityBikes

Send a request to CityBikes for the city of your choice.

In [2]:
import requests
import pandas as pd

ImportError: Unable to import required dependencies:
numpy:

IMPORTANT: PLEASE READ THIS FOR ADVICE ON HOW TO SOLVE THIS ISSUE!

Importing the numpy C-extensions failed. This error can happen for
many reasons, often due to issues with your setup or how NumPy was
installed.

We have compiled some common reasons and troubleshooting tips at:

    https://numpy.org/devdocs/user/troubleshooting-importerror.html

Please note and check the following:

  * The Python version is: Python3.7 from "C:\Users\Goerge\anaconda3\envs\perm_enviro\python.exe"
  * The NumPy version is: "1.21.5"

and make sure that they are the versions you expect.
Please carefully study the documentation linked above for further help.

Original error was: DLL load failed: The specified module could not be found.

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [2]:
city = 'santander-cycles'
url = f'http://api.citybik.es/v2/networks/{city}'
response = requests.get(url)

Put your parsed results into a DataFrame.

In [3]:
df = pd.DataFrame()

In [4]:

if response.status_code == 200:
    data = response.json()
    station_data = data['network']['stations']
    df = pd.DataFrame(station_data)
    print(df.head())  # Print the first few rows of the dataframe
else:
    print('Error occurred:', response.status_code)

   empty_slots                                              extra  free_bikes  \
0           15  {'installDate': '1278947280000', 'installed': ...           4
1           35  {'installDate': '1278585780000', 'installed': ...           2
2           14  {'installDate': '1278242460000', 'installed': ...           4
3           18  {'installDate': '1278340440000', 'installed': ...           6
4           48  {'installDate': '1278340620000', 'installed': ...           1

                                 id   latitude  longitude  \
0  7f3020118e56165ed8b2f61899edb971  51.529163  -0.109971
1  67e6c16bce05410ba4b1f0f5000726ea  51.499607  -0.197574
2  26184215d38089fcad213ef222e69780  51.505974  -0.092754
3  1eabd7ac8e781befd03f52ef56a18aa7  51.523951  -0.122502
4  23efb32f80a9dcd0e4f61fb44b353ce1  51.521681  -0.130432

                                      name                    timestamp
0      001023 - River Street , Clerkenwell  2023-07-08T01:19:13.569000Z
1  001018 - Phillimore Gardens, Kensington  2023-07-08T01:19:13.571000Z
2           001024 - Park Street, Bankside  2023-07-08T01:19:13.577000Z
3    001022 - Brunswick Square, Bloomsbury  2023-07-08T01:19:13.578000Z
4        000980 - Malet Street, Bloomsbury  2023-07-08T01:19:13.579000Z

In [5]:
df.shape

(796, 8)

In [6]:
df.head()

,empty_slots,extra,free_bikes,id,latitude,longitude,name,timestamp
0,15,"{'installDate': '1278947280000', 'installed': ...",4,7f3020118e56165ed8b2f61899edb971,51.529163,-0.109971,"001023 - River Street , Clerkenwell",2023-07-08T01:19:13.569000Z
1,35,"{'installDate': '1278585780000', 'installed': ...",2,67e6c16bce05410ba4b1f0f5000726ea,51.499607,-0.197574,"001018 - Phillimore Gardens, Kensington",2023-07-08T01:19:13.571000Z
2,14,"{'installDate': '1278242460000', 'installed': ...",4,26184215d38089fcad213ef222e69780,51.505974,-0.092754,"001024 - Park Street, Bankside",2023-07-08T01:19:13.577000Z
3,18,"{'installDate': '1278340440000', 'installed': ...",6,1eabd7ac8e781befd03f52ef56a18aa7,51.523951,-0.122502,"001022 - Brunswick Square, Bloomsbury",2023-07-08T01:19:13.578000Z
4,48,"{'installDate': '1278340620000', 'installed': ...",1,23efb32f80a9dcd0e4f61fb44b353ce1,51.521681,-0.130432,"000980 - Malet Street, Bloomsbury",2023-07-08T01:19:13.579000Z

In [7]:
df.to_csv('df_city_bike.csv')